html{
	height:100%;
	background:#fefef1;
	/*background:radial-gradient(#31314a,#42426b);*/
	background-repeat:no-repeat;
}
body{
	margin:0;
	color:#fdfdd1;
	padding:50px 150px;
	font:300 18px/18px Roboto, sans-serif;
}
*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
.min
  padding-top: 5px
  padding-left: 10px
  color: $lightgray
.max
  padding-top: 5px
  padding-right: 10px
  color: $lightgray

.rangeslider,
.rangeslider__fill {
	display:block;
	border-radius:10px;
}

.rangeslider {
	padding-bottom:500px;
	position:relative;
}
.rangeslider:after{
	top:50%;
	left:0;
	right:0;
	content:'';
	width:100%;
	height:5px;
	margin-top:-2.5px;
	border-radius:5px;
	position:absolute;
	background:#212131;
}

.rangeslider--horizontal{
	width:100%;
	height:28px;
}

.rangeslider--vertical{
	width:5px;
	min-height:150px;
	max-height:100%;
}
.rangeslider--disabled{
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity:0.4;
}

.rangeslider__fill{
	position:absolute;
	background:#6275ff;
	/*background:#ff637b;*/
}
.rangeslider--horizontal .rangeslider__fill{
	top:0;
	height:100%;
}
.rangeslider--vertical .rangeslider__fill{
	bottom:0;
	width:100%;
}

.rangeslider__handle{
	top:50%;
	width:28px;
	height:28px;
	cursor:pointer;
	margin-top:-14px;
	background:white;
	position:absolute;
	/*background:#ff637b;*/
	background:#6275ff;
	border-radius:50%;
	display:inline-block;
}
.rangeslider__handle:active{
	background:#5a67ff;
	/*background:#ff5a7b;*/
}

.rangeslider__fill,
.rangeslider__handle{
	z-index:1;
}
.rangeslider--horizontal .rangeslider__fill{
	top:50%;
	height:5px;
	margin-top:-2.5px;
}

/* Budget */
.budget-wrap{
	padding:40px;
	/*background:#292942;*/
	/*background:#ffffe8;*/
	background:#e8e8da;
	box-shadow:0 25px 55px 0 rgba(0,0,0,.21),0 16px 28px 0 rgba(0,0,0,.22);
}
.budget-wrap .header .title{
	/*color:#fff;*/
	padding-bottom:30px;
	color:#000000;
	font-size:18px;
}

.budget-wrap .content{
    margin-top:30px;
}

.budget-wrap .content .range-lbl{
    color:#000000;
    /*color:#ddd;*/
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.budget-wrap .footer{
	margin-top:100px;
	/*margin-top:30px;*/
}
.budget-wrap .footer .btn{
	color:inherit;
	padding:12px 24px;
	border-radius:50px;
	display:inline-block;
	text-decoration:none;
}

.budget-wrap .footer .btn.btn-pri{
	color:#eee;
	/*background:#ff5a84;*/
	background:#598dff;
    cursor: pointer;
}
.budget-wrap .content .range-lbl .label{
    width: 25%;
    font-size:x-small;
}
.budget-wrap .content .range-lbl .label.left{
    text-align: left;
}
.budget-wrap .content .range-lbl .label.right{
    text-align: right;
}
.budget-wrap .content .range-lbl .title{
    text-align: center;
}
